sonata_media:
    class:
        media: App\Entity\Media
        gallery: App\Entity\Gallery
        gallery_has_media: App\Entity\GalleryItem
    default_context: default
    db_driver: doctrine_orm
    contexts:
        default:
            providers:
                - sonata.media.provider.dailymotion
                - sonata.media.provider.youtube
                - sonata.media.provider.image
                - sonata.media.provider.file
                - sonata.media.provider.vimeo

            formats:
                small: { width: 100 , height: 100, quality: 70}
                big:   { width: 100 , height: 100, quality: 70}

    cdn:
        server:
            path: /upload/media

    filesystem:
        local:
            # Directory for uploads should be writable
            directory: "%kernel.project_dir%/public/upload/media"
            create: false
